body {
	background-image: url("src/snow.gif");
	background-repeat: all;
}

h1 {
	font-family: Verdana;
}

#container {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}
p {
	color: white;
}

* {
	cursor: url(http://cur.cursors-4u.net/holidays/hol-4/hol363.ani), url(http://cur.cursors-4u.net/holidays/hol-4/hol363.png), auto !important;
}