body {
	background-color: #efefef;
	font-family: sans-serif;
	color: 111111;
}

#container {
	margin: 0 auto;
	width: 600px;
	padding-top: 50px;
}

h1 {
	text-align: center;
	font-size: 36px;
}

p {
	font-size: 22px;
}